#start-drawing-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 200px;
  font-size: 12px;
  z-index: 1;
}

button {
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

#wall-height {
  position: absolute;
  top: 70px;
  left: 20px;
  height: 40px;
  width: 120px;
  padding: 0 8px;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
  border-radius: 10px;
}

#submit-wall-height {
  position: absolute;
  top: 70px;
  left: 148px;
  height: 40px;
  width: 100px;
  font-size: 12px;
}

#reset {
  position: absolute;
  top: 120px;
  left: 20px;
  height: 40px;
  width: 200px;
  font-size: 12px;
}